body {
  background-color: cadetblue;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}

h2 {
  margin: 0 0 5px 0;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
}

.containers {
  max-width: 600px;
  margin: 60px auto;
  background-color: white;
  padding: 30px;
  box-shadow: 0px 7px 29px 0px black;
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border-bottom: none;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}

.date {
  opacity: 0.7;
}

footer {
  text-align: center;
  font-size: 18px;
}
